*.bak
*.old
*.obsolete
.sconsign.dblite
.vscode/
data/gpt3_?.grd
var/gpt3/matlab/*.m

# ICGEM files
*.gfc

# var JSON files
*.json

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.os

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
lib*.so.*
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.e

# Fortran
#*.F
#*.f

# Documents
*.pdf
*.ps

# Folders
inc/*
lib/*
obj/*
autom4te.cache/*
autotools/*
refguide_html/*
api_html/*
.deps/*
test-driver/*
alternatives/ch5/*
alternatives/gpt3/
fortran_impl/*.F

# Html
*.html
*.htm

# Configure Files
aclocal.m4
config.*
stamp-h1

# Stamp files
*.stamp

# Templates
Makefile.in
Makefile
Doxyfile
