# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.e

# Fortran
#*.F
#*.f

# Documents
*.pdf
*.ps

# Folders
inc/*
lib/*
obj/*
autom4te.cache/*

# Html
*.html
*.htm

# Configure Files
config.*
autoscan.log
